* {
  margin: 0;
  box-sizing: border-box;
  font-size: 30px;
  max-width: 100%;
}

body {
  min-height: 100svh;
  background-image: url(./assets/pitchblack.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  position: fixed;
}

html {
  scroll-behavior: smooth;
}
ul {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
}
li {
  font-size: 0.5rem;
  text-decoration: none;
  list-style: none;
  border: 1px solid black;
  color: white;
}

#sun-bg {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 3rem;
  width: 3rem;
}

#mercury-bg {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 3rem;
  width: 3rem;
}

#venus-bg {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 3rem;
  width: 3rem;
}

#earth-bg {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 3rem;
  width: 3rem;
}

#mars-bg {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 3rem;
  width: 3rem;
}

#jupiter-bg {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 3rem;
  width: 3rem;
}

#saturn-bg {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 3rem;
  width: 3rem;
}

#uranus-bg {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 3rem;
  width: 3rem;
}

#neptune-bg {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 3rem;
  width: 3rem;
}

#pluto-bg {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 3rem;
  width: 3rem;
}

#sun-bg:hover {
  background-image: url(assets/Sun.jpeg);
}

#mercury-bg:hover {
  background-image: url(Assets/Bilder/Mercury_in_true_color.jpg);
}

#venus-bg:hover {
  background-image: url(Assets/Bilder/standard_venus_radar.jpg);
}

#earth-bg:hover {
  background-image: url(Assets/Bilder/The_Earth_seen_from_Apollo_17.jpg);
}

#mars-bg:hover {
  background-image: url(Assets/Bilder/Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png);
}

#jupiter-bg:hover {
  background-image: url(Assets/Bilder/Jupiter_and_its_shrunken_Great_Red_Spot.jpg);
}

#saturn-bg:hover {
  background-image: url(Assets/Bilder/Saturn_during_Equinox.jpg);
}

#uranus-bg:hover {
  background-image: url(Assets/Bilder/Uranus2.jpg);
}

#neptune-bg:hover {
  background-image: url(Assets/Bilder/PezBzd9Fehsq9XWgWMauVV-1200-80.jpg);
}

#pluto-bg:hover {
  background-image: url(assets/Bilder/Pluto_\(Disney\)_transparent.png);
}

.cover {
  min-height: 100svh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  background-color: dimgrey;

  background-image: url(./assets/Bilder/solsystemet.jpg);
}
.bg-img {
  min-height: 100svh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  background-color: dimgrey;
  background-image: url(./assets/pitchblack.webp);
}
/* #first {
    background-image: url(./assets/universe1.jpg);
} */

nav {
  display: grid;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(0, 22, 5); */
  /* padding: 20px; */
  position: fixed;
  width: 100%;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  color: whitesmoke;
  display: flex;
  list-style: none;
  column-gap: 20px;
}

.information {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: aliceblue;
}

#first div {
  margin-top: 50px;
  height: 50px;
}

footer {
  height: 5rem;
  display: flex;
  color: white;
  font-size: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 5px;
}

footer a {
  font-size: 0.7rem;
}
div {
  max-width: 500px;
  min-height: 500px;
  margin: 20px 100px 0px 0px;
}

p {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 25px;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 25px;
  margin-top: 20px;
  letter-spacing: 1px;
}

h1 {
  padding: 20px;
  /* background-color: hsl(57deg 96% 9%); */
  color: white;
  border-radius: 10px;
  letter-spacing: 3px;
}

h2 {
  padding: 2rem;
  /* background-color: hsla(57, 96%, 9%, 65%); */
  color: white;
  border-radius: 10px;
  letter-spacing: 3px;
}

h3 {
  font-size: 2rem;
}

a {
  color: aliceblue;
  text-decoration: none;
}
a:hover {
  color: gray;
}

.video-link {
  width: 600px;
  height: auto;
}

.video-pluto {
  border-radius: 25px;
}

.pluto-info {
  font-size: 0.7rem;
}

.pluto-list {
  font-size: 0.2rem;
  list-style: circle;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-left: 0;
}

.pluto-list li {
  font-size: 0.7rem;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}
